/* text */

.ez-up {
	text-transform: uppercase;
}

.ez-cap {
	text-transform: capitalize;
}

.ez-low {
	text-transform: lowercase;
}

@for $i from 1 through 72 {
	.ez-#{$i} { font-size: #{$i}px }
}

/* layout */

.ez-abs {
	position: absolute;
}

.ez-rel {
	position: relative;
}

.ez-fix {
	position: fixed;
}

@for $i from 0 through 3 {
	@each $layouting, $type in 	(m, margin),
								(p, padding) {
		@each $position, $code-position in 	(null, null),
											(-left, l),
											(-right, r),
											(-top, t),
											(-bottom, b) {
			.#{$layouting}#{$code-position}-#{$i} {
				#{$type}#{$position} : #{$i}em;
			}
		}
		@each $multi-position, $mp1, $mp2 in 	(x, left, right), 
												(y, top, bottom) {
			.#{$layouting}#{$multi-position}-#{$i} {
				#{$type}-#{$mp1}: #{$i}em;
				#{$type}-#{$mp2}: #{$i}em;
			}
		}
	}
}